
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>果核.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="/static/css/simple-line-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<!-- Style -->
	<link rel="stylesheet" href="/static/css/style.css">

    <!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/my.js"></script>
	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<header role="banner" id="fh5co-header">
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="navbar-header">
						<!-- Mobile Toggle Menu Button -->
						<a href="https://www.guohe3.com" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
						<a class="navbar-brand" href="index.html">果核.</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#" data-nav-section="home"><span>首页</span></a></li>
							<li><a href="#" data-nav-section="services"><span>服务</span></a></li>
							<li><a href="#" data-nav-section="explore"><span>展示</span></a></li>
							<li><a href="#" data-nav-section="testimony"><span>点评</span></a></li>
							<li><a href="#" data-nav-section="blog"><span>博客</span></a></li>
						</ul>
					</div>
				</nav>
			</div>
	  </div>
	</header>

	<section id="fh5co-home" data-section="home" style="background-image: url(/static/images/full_image_1.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1 class="animate-box"><span class="big">果核</span> <br><span>专注于</span> <br><span class="medium">江苏科技大学</span><br><span>校园 生活 个性</span> <br> <span class="medium"></span></h1>
							<h2 class="animate-box">Crafted with love by <a href="#" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">果核开发小组</a></h2>
							<div class="call-to-action">
                                <a href="#" class="demo animate-box" ><i class="icon-wechat"></i><span id="wechat_app">微信小程序</span></a>
                                <a href="http://106.14.220.63/apk/download/guohe" class="download animate-box"><i class="icon-download"></i>Android v<span id="app_version"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-services" data-section="services">
		<div class="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="box-services">
							<div class="icon animate-box">
                                <span><i class="icon-pencil"></i></span>
                            </div>
							<div class="fh5co-post animate-box">
								<h3>校园</h3>
                                <p>校园有关的一切</p><p>提供成绩、课程表、绩点、馆藏、校车、空教室、早操、俱乐部等查询。</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">

						<div class="box-services">
							<div class="icon animate-box">
								<span><i class="icon-paper-plane"></i></span>
							</div>
							<div class="fh5co-post animate-box">
								<h3>丰富</h3>
								<p>每日优质内容</p><p>早安问候、实时天气、此刻、彼时、星座、地气等伴你良久。</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">


						<div class="box-services">
							<div class="icon animate-box">
								<span><i class="icon-people"></i></span>
							</div>
							<div class="fh5co-post animate-box">
								<h3>社群</h3>
								<p>我们与你同在</p><p>闯入你生命的陌生人,也许是上天为你安排的惊喜。复杂的世界，因你我的联结而简单。</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-explore" data-section="explore">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
						<h2 class="animate-box">展示</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext animate-box">
								<h3>我们截取了6个界面，方便你快速了解我们提供的内容。</h3>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="fh5co-project">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-1.jpg);">
									<div class="desc">
										<p>一键获取常用服务，直观显示实时课表，便捷的操作给你更好的体验。</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>首页</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>1024</li>
										<li><i class="icon-eye2"></i>1024</li>
										<li><i class="icon-download"></i>1024</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-2.jpg);">
									<div class="desc">
										<p>首页下滑，提供了更多内容。</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>首页</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>1024</li>
										<li><i class="icon-eye2"></i>1024</li>
										<li><i class="icon-download"></i>1024</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-3.jpg);">
									<div class="desc">
										<p>详细课表，支持更换学期/周次。当然，也可以换上你喜爱的背景。</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>课表</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>1024</li>
										<li><i class="icon-eye2"></i>1024</li>
										<li><i class="icon-download"></i>1024</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-4.jpg);">
									<div class="desc">
										<p>我们提供了一些实用小工具，札记便是其中一种，方便你更好地管理日程。</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>札记</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>1024</li>
										<li><i class="icon-eye2"></i>1024</li>
										<li><i class="icon-download"></i>1024</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-5.jpg);">
									<div class="desc">
										<p>我们用更简洁美观的页面来展示你的早操/俱乐部打卡时长，一键体育答卷正在开发中哦（悄悄地~）</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>体育</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>1024</li>
										<li><i class="icon-eye2"></i>1024</li>
										<li><i class="icon-download"></i>1024</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-6.jpg);">
									<div class="desc">
										<p>空教室/馆藏查询，让你更快更高效地投入到学习，或者与女朋友一起学习。</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>教室</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>1024</li>
										<li><i class="icon-eye2"></i>1024</li>
										<li><i class="icon-download"></i>1024</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>


				</div>
			</div>	
		</div>
        <div class="copyrights">Source Code From<a href="https://github.com/CasualJi/guohe_home"  title="Github">Github</a></div>
		<div id="fh5co-counter-section" class="fh5co-counters">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 animate-box">
						<p>以下是一些数据，我们希望有更多的人使用“果核”，并给我们反馈宝贵的建议</p>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-3 text-center">
                        <span id="users" class="fh5co-counter js-counter" data-from="0"  data-speed="4000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">用户数</span>
					</div>
					<div class="col-md-3 text-center">
						<span id="downloads" class="fh5co-counter js-counter" data-from="0"  data-speed="4000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">下载量</span>
					</div>
					<div class="col-md-3 text-center">
						<span id="web_clicks" class="fh5co-counter js-counter" data-from="0"  data-speed="4000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Web点击</span>
					</div>
                    <div class="col-md-3 text-center">
						<span id="app_clicks" class="fh5co-counter js-counter" data-from="0"  data-speed="4000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">App今日</span>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<section id="fh5co-testimony" data-section="testimony">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="animate-box"><span>用户点评</span></h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext animate-box">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>感觉不错，可以优化。</p>
						</div>
						<div class="author-img" style="background-image: url(/static/images/user-1.jpg);"></div>
						<span class="user">梁越勇<br> <small>软件工程，三年级</small></span>
					</div>

                    <div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>期待你的评论。</p>
						</div>
						<div class="author-img" style="background-image: url(/static/images/user-1.jpg);"></div>
						<span class="user">？？？<br> <small>XX专业，X年级</small></span>
					</div>


				</div>

				<div class="col-md-4">
					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>微信小程序「果核Lite」用完即走。</p>
						</div>
						<div class="author-img" style="background-image: url(/static/images/user-2.jpg);"></div>
						<span class="user">季航宇<br> <small>软件工程，三年级</small></span>
					</div>

					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>期待你的评论。</p>
						</div>
						<div class="author-img" style="background-image: url(/static/images/user-5.jpg);"></div>
						<span class="user">？？？ <br> <small>XX专业，X年级</small></span>
					</div>


				</div>

                <div class="col-md-4">
					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>四个校区皆可使用。</p>
						</div>
						<div class="author-img" style="background-image: url(/static/images/user-4.jpg);"></div>
						<span class="user">浦希成 <br> <small>软件工程，三年级</small></span>
					</div>


					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>期待你的评论。</p>
						</div>
						<div class="author-img" style="background-image: url(/static/images/user-1.jpg);"></div>
						<span class="user">？？？ <br> <small>XX专业，X年级</small></span>
					</div>
				</div>


			</div>
		</div>
	</section>
	


	<section id="fh5co-blog" data-section="blog">
		<div class="fh5co-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="animate-box"><span>我们的博客</span></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="animate-box">如果你觉得我们做的不错，可以小小地关注我们，与我们一起交流分享。</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 animate-box blog">
						<a href="https://yueyongdev.github.io/" class="entry">
							<div class="blog-bg" style="background-image: url(/static/images/blog-1.jpg);">
								<div class="desc">
									<p></p>
								</div>
							</div>
							<div class="desc-grid">
                                <a href="https://yueyongdev.github.io/"><h3 style="text-align: center;">Nicer</h3></a>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box blog">
						<a href="http://www.jihangyu.cn/" class="entry">
							<div class="blog-bg" style="background-image: url(/static/images/blog-2.jpg);">

								<div class="desc">
									<p></p>
								</div>
							</div>
							<div class="desc-grid">
								 <a href="http://www.jihangyu.cn/"><h3 style="text-align: center;">寒食君</h3></a>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box blog">
						<a href="http://www.jianshu.com/u/46527e04d758" class="entry">
							<div class="blog-bg" style="background-image: url(/static/images/blog-3.jpg);">

								<div class="desc">
									<p></p>
								</div>
							</div>
							<div class="desc-grid">
								<a href="http://www.jianshu.com/u/46527e04d758"><h3 style="text-align: center;">Ethan</h3></a>
							</div>
						</a>
					</div>


				</div>
			</div>
		</div>
	</section>


	<div id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-md-4 animate-box">
					<h3 class="section-title">站在巨人肩膀.</h3>
                    <p>Flask</p>
                    <p>Nginx</p>
                    <p>Redis</p>
                    <p>...</p>

				</div>

				<div class="col-md-4 animate-box">
					<h3 class="section-title">联系</h3>
					<ul class="contact-info">
                        <li><i class="icon-qq"></i>群673515498</li>
						<li><i class="icon-envelope"></i><a href="#">casual_ji@hotmail.com</a></li>
						<li><i class="icon-globe"></i><a href="https://www.guohe3.com">www.guohe3.com</a></li>
					</ul>
					<h3 class="section-title">加入我们</h3>
					<ul class="social-media">
						<li><a href="https://mp.weixin.qq.com/s/lDw564l99vqYJgO3vjvFJg" class="weixin"><i class="icon-weixin"></i></a></li>
						<li><a href="https://weibo.com/coldfood" class="weibo"><i class="icon-weibo"></i></a></li>
					</ul>
				</div>
				<div class="col-md-4 animate-box">
					<h3 class="section-title">反馈</h3>
					<form class="contact-form">
						<div class="form-group">
							<label for="name" class="sr-only">联系方式</label>
							<input type="name" class="form-control" id="name" placeholder="联系方式">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">你的想法</label>
							<textarea class="form-control" id="message" rows="7" placeholder="你的想法"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="发射">
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
                    <p class="copy-right">&copy; 2017-2018 @寒食君. All Rights Reserved.(*´∇｀*)
					</p>
                    <p class="copy-right">苏ICP备17073767号-1
					</p>
                    <p id="test1"></p>
				</div>
			</div>
		</div>
	</div>

	

	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/static/js/jquery.stellar.min.js"></script>
	<!-- Counters -->
	<script src="/static/js/jquery.countTo.js"></script>
	<!-- Main JS (Do not remove) -->
	<script src="/static/js/main.js"></script>

	</body>
</html>

